@import url("https://use.typekit.net/rrd3vhw.css");

:root { --page-background: hsl(239, 35%, 28%);
   --card-background: hsl(0, 0%, 99%);
   --border-color: hsl(18, 89%, 72%);
   --accent-color: hsl(348, 53%, 58%);
   --name-font: utopia-std-headline, serif;
   --bio-font: acumin-pro, sans-serif;
   --header-font: utopia-std-subhead, serif;
   --body-font: acumin-pro, sans-serif;
   --button-color: hsl(357, 57%, 53%);
   --label-color: hsl(96, 3%, 33%);
}

body { background: var(--page-background);
   background: linear-gradient(to top right, hsla(239,35%,28%,1) 0%, hsla(239, 35%, 38%,1) 35%, hsla(239, 35%, 48%,1) 75%); 
   max-width: 1024px;
}

body, #photo-container { margin: 0 auto;
}

#wrapper { max-width: 85%;
   margin: 4rem auto 2rem auto;
}

#card { background-color: var(--card-background);
   padding: 1.5rem;
   border: 0.2rem solid var(--border-color);
   box-shadow: -0.3rem 0.3rem var(--border-color);
   transform-origin: top;
   visibility: hidden;
   animation: bouncein 2s ease-out 1.25s forwards;
}

@keyframes bouncein {
   0% { margin-top: 100%;
      transform: scale(0.95,1.1);
      visibility: visible;
   }
   40% { margin-top: 0;
      transform: scale(1.05, 0.95);
   }
   47% { margin-top: 10%;
      transform: scale(1,1);
   }
   54% { margin-top: 0;
      transform: scale(1,1);
   }
   100% { margin-top: 0;
      transform: scale(1,1);
      visibility: visible;
   }
}

#card, div.sample-card, .form-group input,
.form-group textarea, .form-group button { border-radius: 0.2rem;
}

img { width: 100%;
}

#photo-container { max-width: 150px;
}

#marlon-photo { border-radius: 50%;
   border: 0.3rem solid var(--accent-color);
}

div.name h1 { font-family: var(--name-font);
   font-size: 1.8rem;
   text-align: center;
}

div.name h1, div.card-section h2,
div.card-section p { font-style: normal;
}

div.name h1, #bio, div.card-section p { font-weight: 400;
}

#bio { font-style: italic;
   line-height: 1.3rem;
   margin-top: 2rem;
}

#bio::before { content: '';
   display: block;
   width: 15%;
}

#bio::before { border-bottom: 0.2rem solid var(--accent-color);
}

a.body-link { border-bottom: 0.2rem solid var(--button-color);
}

#bio::before, div.card-section h2 { margin-bottom: 0.25rem;
}

#bio::before { margin-left: auto;
   margin-right: auto;
}

div.card-section h2 { font-family: var(--header-font);   
   font-weight: 700;
   text-transform: lowercase;
   margin-top: 3rem;
}

body p { font-family: var(--body-font);
   font-size: 0.95rem;
   line-height: 1.5rem;
}

body a { text-decoration: none;
   color: inherit;
}

a.body-link:hover { border-bottom: none;
}

div.sample-card, #submit-btn { background-color: var(--button-color);
}

div.sample-card { border: 0.2rem solid var(--button-color);
   transition: 500ms ease all;
}

div.sample-card:hover { transform: scale(1.05);
}

div.card-title { padding: 0.2rem;
}

div.card-title p { color: var(--card-background);
   margin-top: 0.1rem;
   margin-bottom: 0.1rem;
}

.form-group button { display: block;
   padding: 0.25rem 0.5rem 0.5rem 0.5rem;
   text-align: center;
   font-family: var(--body-font);
   font-size: 1.15rem;
   width: 100%;
   margin-bottom: 1rem;
}

#submit-btn { color: var(--card-background);
   order: 2;
}

#submit-btn:hover, #clear:hover { cursor: pointer;
}

#submit-btn:hover { background-color: hsla(357, 57%, 53%, 0.7);
   border: none /*0.15rem solid hsla(357, 57%, 53%, 0.5)*/;
}

#clear { color: var(--button-color);
   background: none;
}

#clear:hover { border: none;
}

#clear:hover > span { border-bottom: 0.15rem solid var(--button-color);
}

div.contact { margin-bottom: 1rem;
}

#contact-form { width: 100%;
   font-family: var(--body-font);
   max-width: 650px;
}

.form-group { position: relative;
   margin-bottom: 1.5rem;
}

.form-group label, .form-group input,
.form-group textarea { display: block;
}

.form-group input, .form-group textarea { width: 100%;
   font-size: 1.15rem;
   padding: 1.15rem 0.5rem 0.5rem 0.75rem;
   background: none;
}

.form-group input, .form-group textarea,
.form-group button { box-sizing: border-box;
   border: 0.15rem solid var(--button-color);
}

.form-group label { position: absolute;
   top: 0.9rem;
   left: 0.75rem;
   color: var(--label-color);
   pointer-events: none;
   transition: 300ms ease all;
}

.form-group textarea { font-family: var(--body-font);
}

.form-group input:focus { outline: none;
}

.form-group input:focus ~ label, 
.form-group input:valid ~ label,
.form-group textarea:focus ~ label,
.form-group textarea:valid ~ label { top: 0.15rem;
   font-size: 0.75rem;
}

.form-group p { display: none;
   color: var(--button-color);
   font-size: 0.95rem;
   margin-top: 0;
}

#name-err, #email-err, #msg-err {
   font-style: italic;
}

#social-links { padding-left: 0;
   list-style-type: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 1.5rem auto;
   max-width: 280px;
}

#social-links li { width: 1.5rem;
}

#social-links li a img:hover { filter: opacity(70%);
}

#copyright { margin-top: 4rem;
   color: var(--card-background);
}

#samples-grid { margin-top: 1.25rem;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
   grid-gap: 1rem 1.5rem;
}

@media only screen and (min-width: 530px) {
   #photo-container { margin-left: 0;
      margin-right: 1.75rem;
      max-width: 200px;
   }

   div.row { display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
   }

   .button-group { display: flex;
      justify-content: space-between;
   }

   .button-group button { max-width: 15rem;
      margin-bottom: 0;
   }

   #contact-form { margin-left: auto;
      margin-right: auto;
   }
/* end 420px media query */}